*{
    box-sizing: border-box;
}


body{
    box-sizing: border-box;
    margin: 0;
    height: 100vh;


}
@keyframes fadeOut {
    from { opacity: .9; visibility: visible }
    to { opacity: 0; visibility: hidden}

}
.overlay{
    position: absolute;
    height:100%;
    width: 100%;
    background: black;
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2;

}
/*@keyframes fadeIn {*/
    /*from { opacity: 0; }*/
    /*to { opacity: 1; }*/
/*}*/

.titlePage{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: white;
    background-image: url("images/PikminBackground.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}
.titleTitle:hover{
    transform: scale(1.3);
    filter: drop-shadow(.1em .1em .1em black);
    color: white;
}
@keyframes TitleTextPulse {
    0% {transform: scale(1)}
    50% {transform: scale(1.2)}
    100% {transform: scale(1)}
}
@keyframes FadeRight {
    from {opacity: 0; transform: translate(-20%) }
    to {opacity: 1; transform: translate(0%) }
}
.titleTextWrapper{
    #border: 1px solid black;
    height: 7%;
    width: 20%;
    top: 20%;
    position: absolute;
    right: 39%;
    animation-name: FadeRight;
    animation-duration: 1s;
    display: flex;
    justify-content: center;

}
.titleTitle{
    font-family: "Architects Daughter";
    font-size: 5.6vmin;
    animation-duration: 2.3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: TitleTextPulse;
    cursor: pointer;
    position: absolute;

}
.titlePage.FadeOut{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: white;
    background-image: url("images/PikminBackground.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(.8); visibility: hidden }
    to { opacity: .9; transform: scale(1); visibility: visible}

}

.PageContainer{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("images/DewWallpaper.jpg");
    background-size: cover;
}
.PageContainer.FadeIn{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("images/DewWallpaper.jpg");
    background-size: cover;
    animation-name: fadeIn;
    animation-duration: 1.3s;
    animation-fill-mode: both;
}



.headerContainer{
    border: 1px solid black;
    margin: 0;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;


}

.headerTitle{
    border: 1px solid black;
    height: 95%;
    width: 40%;
    background-image: url("images/PikminLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
@keyframes pulse {
    0% {transform: scale(1) rotate(-30deg);}
    50% {transform: scale(1.1) rotate(-35deg);}
    100% {transform: scale(1) rotate(-30deg);}

}
.headerText{
    font-family: "Schoolbell";

    font-size: 2.3em;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: pulse;
    position: absolute;
    bottom:0;



}

.headerLinks{
    border: 1px solid black;
    width: 20%;
    height: 95%;

}
.mainContainer{
    border: 1px solid green;
    display: flex;
    height: 80%;


}
.statsContainerLarge{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.statsContainer{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    font-family: "Schoolbell";

}
@keyframes Textpulse {
    0% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    50% {
        transform: scale(1.02);
        animation-timing-function: ease-out;
    }
    100% {
        transform: scale(1);
    }
}
.statsTitle{
    border: 1px solid black;
    height: 10%;
    font-size: 1.4em;

}
.GamesPlayed{
    #border: 1px solid black;
    height: 10%;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: Textpulse;
    transition: transform 2s ease-in-out;
    display: flex;
    justify-content: space-around;


}
.attempts{
    #border: 1px solid black;
    height: 10%;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: Textpulse;
    transition: transform 2s ease-in-out;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: space-around;
}
.accuracy{
    #border: 1px solid black;
    height: 10%;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: Textpulse;
    transition: transform 2s ease-in-out;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: space-around;
}
.label{
    display: inline-block;
    width: 50%;


}
.value{
    display: inline-block;
    width: 30%;
    height: 100%;
    font-size: 1.2em;
}
.reset{
    border: 1px solid black;
    height: 10%;
}

.gameContainer{
    border: 1px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

}
#game-area{
    border: 1px solid orange;
    height: 90%;
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    perspective: 800px;

}
.card {
    border: 1px outset hotpink;
    border-radius: 20%;
    width: 15%;
    height: 30%;
    position: relative;
    /*background-color: greenyellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .1em .3em .5em 0 rgba(0, 0, 0, .2);
    transition: all .3s ;
    transform-style: preserve-3d;

}

.card .front {
    border: 1px outset hotpink;
    border-radius: 20%;
    width: 95%;
    height: 95%;
    position: absolute;
    background-color:  #0fb8ad;
    box-shadow: .1em .3em .5em 0 rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;


}
.card .back {
    border-radius: 20%;
    width: 95%;
    height: 95%;
    position: absolute;
    backface-visibility: hidden;
    opacity: 0;
}








.card.blur:not(.flipped){
    filter: blur(.1em);
    transform: scale(.95);
    transition: transform .6s;
}
.card.active{
    box-shadow: .2em .5em .8em 0 rgba(0,0,0,0.3);
    transform: scale(1.1);
    transition: transform .3s;

}

.card.flipped{
    transform: rotateY( -180deg );
    transition: transform 1s;
}


